/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------------------------- */
/* Custom Styles */
/* -------------------------------------------------------- */
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 2.5rem;
  margin-bottom: 2%;
  font-family: "Rubik", sans-serif;
}

.page-wrapper {
  max-width: 805px;
  padding: 0 8px;
  width: 100%;
  margin: auto;
}

.page-wrapper > section {
  padding: 9px 9px 14px 9px;
}

.page-wrapper > section:not(:first-of-type):not(.about-last-section) {
  border-top: 2px solid red;
  padding-top: 26px;
}

/* -------------------------------------------------------- */
/* Header Styles */
/* -------------------------------------------------------- */
.nav-bar-top {
  display: flex;
  padding: 20px 0;
}

.nav-bar-top img {
  height: 40px;
}

.nav-bar-top ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-left: 65px;
}

.nav-bar-top ul a {
  text-decoration: none;
  color: black;
}

.nav-bar-top ul a:hover {
  text-decoration: underline;
}

/* -------------------------------------------------------- */
/* Banner Styles */
/* -------------------------------------------------------- */
.banner {
  width: 100%;
  margin: 48px 0 39px 0;
}
/* -------------------------------------------------------- */
/* Top Section Styles */
/* -------------------------------------------------------- */
.top-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.top-content .top-title {
  text-align: center;
}

.top-content .text-container {
  min-width: 365px;
  flex: 1;
}

.top-content .text-container p {
  font-size: 1.8rem;
}

/* -------------------------------------------------------- */
/* Middle Section Styles */
/* -------------------------------------------------------- */
.middle-content .boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 34px;
  margin-bottom: 66px;
  justify-content: center;
}

.middle-content .boxes .box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 130px;
  color: white;
  background: black;
}
#box1 {
  background-color: teal;
}
#box2 {
  background-color: gold;
}
#box3 {
  background-color: cadetblue;
}
#box4 {
  background-color: coral;
}
#box5 {
  background-color: crimson;
}
#box6 {
  background-color: forestgreen;
}
#box7 {
  background-color: darkorchid;
}
#box8 {
  background-color: hotpink;
}
#box9 {
  background-color: indigo;
}
#box10 {
  background-color: dodgerblue;
}

/* -------------------------------------------------------- */
/* Bottom Section Styles */
/* -------------------------------------------------------- */
.bottom-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 38px;
  padding-bottom: 55px;
}

.bottom-content .text-container {
  min-width: 245px;
  flex: 1;
  font-size: 1.8rem;
}

/* -------------------------------------------------------- */
/* Footer Styles */
/* -------------------------------------------------------- */
footer {
  width: 100%;
  background-color: #ff4b00;
  margin-top: 46px;
  height: 176px;
}

footer .nav-bar-bottom {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

footer .nav-bar-bottom a {
  color: white;
  text-decoration: none;
}

/* -------------------------------------------------------- */
/* About Page Styles */
/* -------------------------------------------------------- */

/* -------------------------------------------------------- */
/* About Top Section Styles */
/* -------------------------------------------------------- */
.about-top-text {
  font-size: 1.8rem;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.about-content > div {
  min-width: 365px;
  flex: 1;
  border-bottom: 2px solid red;
  padding-bottom: 24px;
}

.about-content > div img {
  max-height: 236px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 12px;
}

/* -------------------------------------------------------- */
/* Media Queries */
/* -------------------------------------------------------- */
@media (max-width: 500px) {
  .nav-bar-top {
    flex-direction: column;
    align-items: center;
  }

  .nav-bar-top ul {
    margin: unset;
    margin-top: 16px;
    width: 100%;
  }

  .nav-bar-bottom {
    flex-direction: column;
  }

  h2 {
    text-align: center;
  }
}
